
{% extends "registration/base2.html" %}
{% load crispy_forms_tags %}
{% block title %}Password Change{% endblock title %}

{% block style0 %}

.form-group label{
    font-size:21px,
    color:blue
}
.form-control{

}



{% endblock %}


{% block content %}



    

<div class="card" style="border:solid red 3px;border-radius:21px">
    <div class="card-body" style="padding-top:61px;padding-bottom:61px;text-align:center">

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<h1>تغییر رمز عبور اکانت</h1>

{{form|crispy}}
<button type="submit" class="btn btn-danger" >تغییر</button>
<a href="{% url "accounts:show" %}" class="btn btn-info" >لغو</a>
</form>
 </div>
</div>

{% endblock content %}

