
{% extends "registration/base2.html" %}
{% load crispy_forms_tags %}
{% block title %}Password Changed{% endblock title %}

{% block style0 %}





{% endblock %}


{% block content %}



    

<div class="card" style="border:solid green 3px;border-radius:21px">
    <div class="card-body" style="padding-top:61px;padding-bottom:61px;text-align:center">

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<h1 style="color:green;font-size:41px">تغییر رمز عبور اکانت با موفقیت انجام شد!</h1>
<a href="{% url "accounts:login" %}" class="btn btn-info" >ورود به اکانت با پسورد جدید</a>
</form>
 </div>
</div>

{% endblock content %}

