{% block lastpost %} 

<div class="row">
    <div class="col-12">
        <div class="d-flex align-items-center justify-content-between bg-dark py-2 px-4 mb-3">
            <h3 class="m-0" style="color:white">آخرین اخبار</h3>
            <a class="font-weight-medium text-decoration-none" href="{% url "news:lastest" %}" style="color:white">دیدن همه</a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for post in lastest_posts %}
    <div class="col-lg-6">
        <div class="position-relative mb-3">
            <img width="360px" height="260px" src="{{post.banner.url}}">
            <div class="overlay position-relative bg-light">
                <div class="mb-2" style="font-size: 14px;">
                    <a href="">{{post.about.name}}</a>
                    <span class="px-1">/</span>
                    <span>{{post.time_update}}</span>
                </div>
                <a class="h4" href="{% url "news:detail" post.id post.about.name %}">{{post.title|truncatewords:5}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for post in older_posts %}
        <div class="d-flex mb-3" style="max-width:390px;margin:2px">
            <img src="{{post.banner.url}}" style="width: 100px; height: 100px; object-fit: cover;">
            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                <div class="mb-1" style="font-size: 13px;">
                    <a href="">{{post.about.name}}</a>
                    <span class="px-1">/</span>
                    <span>{{post.time_update}}</span>
                </div>
                <a class="h6 m-0" href="{% url "news:detail" post.id post.about.name %}">{{post.title}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>



{% endblock lastpost %}