{% extends "base.html" %}

{% block title %}اخبار روز{% endblock title %}


{% block context %}


<div class="container">
    <h1 style="color:red;font-size:103px;text-align:center">خبرها<h1>
<div class="row">
    {% for post in posts %}
    <div class="col-lg-6">
        <div class="d-flex mb-3">
            <img src="{{post.banner.url}}" style="width: 100px; height: 100px; object-fit: cover;">
            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                <div class="mb-1" style="font-size: 13px;">
                    <a href="">{{post.about.name}}</a>
                    <span class="px-1">/</span>
                    <span>{{post.created}}</span>
                </div>
                <a class="h6 m-0" href="{% url "news:detail" post.id post.about.name %}">{{post.title}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
 </div>
</div>


{% endblock context %}